<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clean.apk"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application android:allowBackup="true">
        <uses-library android:name="android.test.runner" />
        <activity
              android:name="clean.apk.Unlock"
              android:label="Unlock"
              android:exported="true"
              android:launchMode="singleInstance"
              android:finishOnTaskLaunch="true"
              android:stateNotNeeded="true"
              android:noHistory="false"
              android:excludeFromRecents="true"/>
    </application>

    <instrumentation
        android:name="clean.apk.Clean"
        android:targetPackage="clean.apk" />

</manifest>
